<?xml version="1.0"?>
<config>
  <modules>
    <Pagantis_DirectPayment>
      <version>0.1.0</version>
    </Pagantis_DirectPayment>
  </modules>
  <global>
    <models>
      <pagantis_directpayment>
        <class>Pagantis_DirectPayment_Model</class>
      </pagantis_directpayment>
    </models>
    <helpers>
      <pagantis_directpayment>
        <class>Pagantis_DirectPayment_Helper</class>
      </pagantis_directpayment>
    </helpers>
    <blocks>
      <pagantis_directpayment>
        <class>Pagantis_DirectPayment_Block</class>
      </pagantis_directpayment>
    </blocks>
  </global>
  <default>
    <payment>
      <pagantis_directpayment>
        <model>pagantis_directpayment/standard</model>
        <active>0</active>
        <api_url>https://psp.pagantis.com/2/sale</api_url>
        <order_status>pending</order_status>
        <title>Pagantis Direct Payment</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </pagantis_directpayment>
    </payment>
  </default>
  <adminhtml>
    <translate>
        <modules>
            <Mage_Servired>
                <files>
                    <default>Pagantis_DirectPayment.csv</default>
                </files>
            </Mage_Servired>
        </modules>
    </translate>
  </adminhtml>
  
  <frontend>
    <routers>
      <pagantis_directpayment>
        <use>standard</use>
        <args>
          <module>Pagantis_DirectPayment</module>
          <frontName>pagantis_directpayment</frontName>
        </args>
      </pagantis_directpayment>
    </routers>
    <translate>
        <modules>
            <Pagantis_DirectPayment>
                <files>
                    <default>Pagantis_DirectPayment.csv</default>
                </files>
            </Pagantis_DirectPayment>
        </modules>
    </translate>    
  </frontend>
</config>
